body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2e2e2e; /* Dark gray background */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#board {
    position: relative;
    width: 800px; /* Adjust according to the board size */
    height: 600px;
    background: url('/static/board.png') no-repeat center center;
    background-size: contain;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border: 2px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#planchette {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust according to the planchette size */
    height: 400px;
    background: url('/static/planchette.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: top 0.5s ease, left 0.5s ease; /* Smooth transition */
}

/* Form styling positioned below the board */
#questionForm {
    margin-top: 20px; /* Add some space between the board and the form */
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

#questionInput {
    width: 30%;
    padding: 12px;
    font-size: 1em;
    border: 2px solid #555;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, width 0.3s, padding 0.3s; /* Add transition for width and padding */
    background-color: #333;
    color: #fff;
}

#questionInput:focus {
    border-color: #e0e0e0;
    width: 50%; /* Increase width when focused */
    padding: 16px; /* Increase padding when focused */
}

button[type="submit"] {
    padding: 12px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #777;
}

#answer {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #e0e0e0;
}
