#board {
    position: relative;
    width: 800px; /* Adjust according to the board size */
    height: 600px;
    background: url('/static/board.png') no-repeat center center;
    background-size: contain;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#planchette {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust according to the planchette size */
    height: 400px;
    background: url('/static/planchette.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: top 0.5s ease, left 0.5s ease; /* Smooth transition */
}

/* Form styling positioned just below the board */
#questionForm {
    position: absolute;
    top: 540px; /* Positioning the form 20px below the board */
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

#questionInput {
    width: 30%;
    padding: 12px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#questionInput:focus {
    border-color: #333;
}

button[type="submit"] {
    padding: 12px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

#answer {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}
